site_name: Calculator API Docs

theme:
  name: mkdocs

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true

nav:
  - Home: index.md
  - API Reference: api.md
