name: Generate API Docs

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install mkdocs mkdocstrings[python] mkdocs-material

    - name: Generate Docs
      env:
        PYTHONPATH: src
      run: |
        mkdocs build

    - name: Upload docs site artifact
      uses: actions/upload-artifact@v4
      if: always()
      with:
          name: mkdocs-site
          path: site/
